@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --font-serif: "IBM Plex Sans", ui-serif, serif;

  --color-primary: #6366f1;
  --color-neutral: #94a3b8;
  --color-white: #e2e8f0;
  --color-black: #0e141b;

  --text-xs: 0.875rem;
  --text-xs--line-height: 1.125rem;
  --text-sm: 1rem;
  --text-sm--line-height: 1.25rem;
  --text-base: 1.125rem;
  --text-base--line-height: 1.625rem;
  --text-lg: 1.25rem;
  --text-lg--line-height: 1.75rem;
  --text-xl: 1.5rem;
  --text-xl--line-height: 1.813rem;
  --text-2xl: 1.75rem;
  --text-2xl--line-height: 2.125rem;
  --text-3xl: 2rem;
  --text-3xl--line-height: 2.375rem;
  --text-4xl: 2.25rem;
  --text-4xl--line-height: 2.688rem;
  --text-5xl: 2.5rem;
  --text-5xl--line-height: 3rem;
  --text-6xl: 3rem;
  --text-6xl--line-height: 3.625rem;

  --tracking-tightest: -2px;
  --tracking-tighter: -1px;
  --tracking-tight: -0.25px;

  --animate-slide-in: slide-in 600ms ease both;

  @keyframes slide-in {
    10% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
}