---
import type { HeroProps } from "@types";
type Props = HeroProps;

const { name, specialty } = Astro.props;
---

<section class="py-12 md:py-16" id="#hero">
  <h1
    class="mb-3 font-serif text-5xl font-bold tracking-tightest text-white sm:text-6xl md:text-7xl"
  >
    {name}
  </h1>
  <p
    class="font-serif text-2xl leading-tight font-semibold tracking-tighter text-primary sm:text-3xl md:text-4xl"
  >
    {specialty}
  </p>
</section>